@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --dark-blue: #313E69;
    --bring-red: #FA3844;
    --black: #1A1A33;
    --white: #E8E8F3;
    --really-white: #f2f2f5;
    --grey: #666699;
    --light-grey: #7d7e83;
    --light-blue: #A6C1EE;
    --big-padding-right: 90px;
    --big-padding-left: 90px;
    --big-padding-top: 60px;
    --big-padding-bottom: 60px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--really-white);
  color: var(--black);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.big-header {
    padding-left: var(--big-padding-left);
    padding-right: var(--big-padding-right);
    background-color: var(--dark-blue);
    color: var(--white);
    width: 100%;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 8px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.1);
    width: 100%;
}

.header-social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.fab {
    font-size: 16px;
    color: var(--white);
}

.fab:hover {
    color: var(--bring-red);
    transition: .3s ease-in-out;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    width: 100%;
    text-transform: uppercase;
}


.nav-menu a {
    margin-left: 32px;
    font-size: 16px;
    font-weight: 400;
}

.nav-menu a:first-of-type {
    margin-left: 0;
}

.nav-menu a:hover {
    color: var(--bring-red);
    transition: .3s ease-in-out;
}

.fa-brands {
    font-size: 16px;
    color: var(--white);
}

.fa-brands:hover {
    color: var(--bring-red);
    transition: .3s ease-in-out;
}

.empty-div {
    font-size: 32px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    font-weight: 600;
}

.empty-div img {
    width: 50px;
    padding-bottom: 9px;
    margin-right: 8px;
}

.hamburger-menu {
    display: none;
    font-size: 24px;
    color: var(--white);
    cursor: pointer;
}

.hamburger-menu:hover {
    background-color: var(--bring-red);
    transition: .3s ease-in-out;
}

.line {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.header-social-icons-bottom {
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.overlay-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    background-color: var(--dark-blue);
    transition: all 0.5s ease-in-out;
    z-index: 9999;
    color: var(--white);
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.overlay-menu.open {
    width: 65%;
    transform: translateX(0);
}

.overlay-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    padding-left: 90px;
}

.overlay-menu-content a:hover {
    color: var(--bring-red);
    transition: .3s ease-in-out;
}

.hamburger-menu.close .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-menu.close .line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.close .line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.overlay-list {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
}

.red {
    color: var(--bring-red);
}

.login-text {
    display: none;
}

.login-text:hover {
    color: var(--bring-red);
    transition: .3s ease-in-out;
    cursor: pointer;
}

/* begin hero canvas */

.hero-canvas {
    background: linear-gradient(45deg, #57689e 0%, #313E69 50%, #57689e 100%); 
    width: 100%;
    padding-top: 16px;
    position: relative;
}

.hero-logo {  
  width: 25%;
}

.trump {
    width: 15%;
    position: absolute;
    right: 28%;
    bottom: 0;
    z-index: 3;
}

.biden {
  width: 12%;
  position: relative;
  left: 30%;
  bottom: 0;
  margin-bottom: -7px;
  z-index: 2;


}

.red {
    color: var(--bring-red);
}

.hero-logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.streep {
  width: 10.3%;
  position: absolute;
  right: 11%;
  bottom: 0;
  z-index: 1;
}

.lebron {
  width: 15.5%;
  position: absolute;
  left: 20%;
  bottom: 0;
  z-index: 1;
}

.jokic {
  width: 11.5%;
  position: absolute;
  right: 20%;
  bottom: 0;
  z-index: 2;
}

.powell {
  width: 18.9%;
  position: absolute;
  left: 8%;
  bottom: 0;
  z-index: 0;
}

.dummy-font {
  margin-left: 100px;
  font-size: 50px;
  color: var(--white);
}

.logoText {
  width: 10%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

/* begin featured posts */

.featured-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 90px;
    padding-right: 90px;
    overflow: hidden;
}

.featured-post-container {
    display: flex;
    align-items: center;
    padding: 10px;
}


.featured-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.featured-category {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: .35px;
    color: var(--light-grey);
}

.featured-title {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .35px;
    color: var(--dark-blue);
}

/* begin tagline */

.tag-line {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 16px;
}

.tag-line img {
    width: 50px;
}

.tag-line p {
    margin-left: 16px;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark-blue);
    text-transform: uppercase;
    letter-spacing: .65px;
    line-height: 19px;
}

/* begin articles section */

.articles-container {
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 16px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--really-white);
    position: relative;
}

.date-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-bottom: 16px;
    align-items: center;
    justify-content: center;


}

.date {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1.15px;
    margin-bottom: 13px;
    line-height: 19px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--light-grey);
    margin-bottom: 16px;
}

.divider:first-of-type {
    margin-right: 16px;
}

.divider:last-of-type {
    margin-left: 16px;
}

.date-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-right: 25%;
    margin-left: 25%;
    background-color: var(--white);
    margin-bottom: 40px;
    border-radius: 4px;
}

.post-container img {
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.post-subheader {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .15px;
    text-transform: uppercase;
    margin-top: 16px;
    color: var(--dark-blue);
    padding-left: 16px;
    padding-right: 16px;
}

.post-header {
    font-size: 19px;
    font-weight: 600;
    letter-spacing: .15px;
    margin-bottom: 24px;
    color: var(--dark-blue);
    padding-left: 16px;
    padding-right: 16px;
}

.post-text {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .35px;
    margin-bottom: 24px;
    color: var(--black);
    word-break: break-word;
    line-height: 23px;
    margin-left: 16px;
    margin-right: 16px;
}

.post-read-now {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1.65px;
    margin-top: 16px;
    color: var(--dark-blue);
    font-weight: 600;
    padding-left: 16px;
    padding-bottom: 16px;
}

/* begin footer */

footer {
    background-color: var(--black);
    color: var(--white);
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

.best-bet-container {
    width: 18%;
    height: 800px;
    background-color: var(--bring-red);
    position: absolute;
    top: 0;
    left: 90px;
}

.in-the-news-cont {
    max-width: 18%;
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 90px;
    padding: 16px;
    text-align: center;
}

.news-art-cont {
    width: 100%;
    background-color: var(--really-white);
    display: flex;
    flex-direction: column;
    padding: 8px;
    text-align: left;
}

.news {
    font-size: 12px;
    letter-spacing: 4px;
    margin-bottom: 8px;
}

.news-article {
    border-bottom: .2px solid var(--white);
    padding-bottom: 10px;
    padding-top: 10px;
    line-height: 21px;
    letter-spacing: .35px;
}

.news-article:last-of-type {
    border-bottom: none;
}

.popular-cont {
    max-width: 18%;
    background-color: var(--white);
    position: absolute;
    top: 0;
    right: 90px;
    padding: 16px;
    text-align: center;
}

.pop-headline {
    font-size: 12px;
    letter-spacing: 4px;
    margin-bottom: 8px;
}

.pop-market-container {
    background-color: var(--really-white);
    display: flex;
    padding: 8px;
    align-items: center;
    border-bottom: .2px solid var(--white);
}

.pop-market-container img {
    width: 40px;
    border-radius: 8px;
}

.pop-description-cont {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    text-align: left;
}

.pop-description-cont h5 {
    font-size: 12px;
    letter-spacing: .35px;
}

.pop-description-cont p {
    font-size: 10px;
    letter-spacing: .35px;
    margin-bottom: 4px;
}

/* begin post page */

.you-may-also-like-cont {
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 200px;
    right: 90px;
    max-width: 240px;
    background-color: var(--white);
    border-radius: 4px;
}

.you-may-also-like-cont h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.post-page-container {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 90px;
    padding-right: 90px; 
}

.post-page-container h1 {
    font-size: 27px;
    line-height: 29px;
    letter-spacing: .25px;
    width: 66%;
}

.author-container {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.author-container p {
    font-size: 12px;
    font-weight: 400;
    color: var(--light-grey);
}

.author-container p:first-of-type {
    margin-right: 6px;
}

.author-circle {
    height: 4px;
    width: 4px;
    background-color: var(--light-grey);
    border-radius: 50%;
}

.author-circle:first-of-type {
    margin-right: 6px;
}

.author-container p:nth-of-type(2) {
    margin-right: 6px;
}

.comment-container {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.comment-container svg {
    margin-right: 4px;
}

.comment-container p {
    font-size: 12px;
    font-weight: 400;
    color: var(--dark-blue);
    cursor: pointer;
}

.post-article-container {
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 18%;
}

.post-article-container p {
    letter-spacing: .35px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 20px;
    word-break: break-word;
}

.post-article-container p:first-of-type {
    margin-top: 32px;
}

.post-article-container h2 {
    font-size: 32px;
    line-height: 33px;
    letter-spacing: .25px;
    margin-bottom: 16px;
}

.picture-headline {
    display: flex;
    align-items: center;
    margin-top: 16px;
    border-bottom: .2px solid #a0a0a0;
    padding-bottom: 16px;
}

.picture-headline:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.picture-headline img {
    width: 50px;
    border-radius: 8px;
    margin-right: 8px;
}

.picture-headline h3 {
    font-weight: 400;
    line-height: 20px;
    min-height: 50px;
    font-size: 15px;
}

.picture-headline h3:hover {
    color: var(--bring-red);
    cursor: pointer;
}

.second-author-container {
    position: absolute;
    top: 260px;
    left: 90px;
}

.second-author-img-cont {
    width: 50px;
    margin-top: 8px;
}

.second-author-img-cont img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.second-author-container p {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .15px;
    color: var(--light-grey);
    margin-top: 8px;
}

.profile-name {
    margin-top: 0;
    font-size: 15px;
    letter-spacing: .15px;
    color: var(--dark-blue);
}

.second-author-img-cont p:last-of-type {
    margin-top: 6px;
}

.comment-container2 {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
    
    margin-right: 30%;
    margin-left: 18%;
}

.line-container {
    display: block;
    flex: 1 1;
    height: .05em;
    background: var(--light-grey);
    content: "";
}

.comment-number {
    height: 100%;
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.75;
    color: var(--dark-blue);
    background-color: var(--light-blue);
    border-radius: 8px;
    transition: .3s;
}

.comment-number:hover {
    background-color: var(--bring-red);
    color: var(--white);
    cursor: pointer;
}

.comment-section {
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    margin-left: 18%;
    padding-bottom: 90px;
    border-bottom: .2px solid var(--bring-red);
}

.comment-section a {
    color: var(--dark-blue);
    transition: .2s;
}

.comment-section a:hover {
    color: var(--bring-red);
    cursor: pointer;
}

.comment-section hr {
    margin-top: 32px;
    margin-bottom: 16px;
    border: none;
    border-bottom: .2px solid var(--light-grey);
}

#loginModal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    top: 55%;
    left: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
    box-sizing: border-box;
}

#loginModal input {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--dark-blue);
}

#loginModal input:last-of-type {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.75;
    color: var(--white);
    background-color: var(--bring-red);
    border-radius: 8px;
    transition: .3s;
    border: none;
}

#loginModal input:last-of-type:hover {
    background-color: var(--light-grey);
    color: var(--white);
    cursor: pointer;
}

#loginModal h3 {
    font-size: 20px;
    line-height: 33px;
    letter-spacing: .25px;
    margin-bottom: 16px;
    align-self: center;
}

#registerModal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    margin: 0 auto;
    top: 55%;
    left: 50%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--white);
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 8px;
}

#registerModal h3 {
    font-size: 20px;
    line-height: 33px;
    letter-spacing: .25px;
    margin-bottom: 16px;
    align-self: center;
}

#registerModal input:last-of-type {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.75;
    color: var(--white);
    background-color: var(--bring-red);
    border-radius: 8px;
    transition: .3s;
    border: none;
}

#registerModal input:last-of-type:hover {
    background-color: var(--light-grey);
    color: var(--white);
    cursor: pointer;
}

#registerModal input {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--dark-blue);
}

#username {
    margin-bottom: 8px;
}

#password {
    margin-bottom: 16px;
}

.login-modal-button {
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 1.75;
    color: var(--white);
    background-color: var(--bring-red);
    border-radius: 8px;
    transition: .3s;
    border: none;
}

.login-modal-button:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

.modal-divider {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.dont-have-account {
    display: flex;
    flex-direction: column; 
}

.dont-have-account a {
    color: var(--white);
    transition: .3s;
    margin-top: 8px;
    background-color: var(--bring-red);
    padding: 8px 16px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
}

.dont-have-account a:hover {
    background-color: var(--light-grey);
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
   

    .second-author-container {
        display: none;
    }

    .post-article-container {
        margin-right: 0;
        margin-left: 0;
        padding-right: 36%;
        padding-left: 90px;
    }

    .comment-container2 {
        margin-right: 0;
        margin-left: 0;
        padding-right: 36%;
        padding-left: 90px;
    }

    .comment-section {
        margin-right: 0;
        margin-left: 0;
        padding-right: 36%;
        padding-left: 90px;
    }

}

@media screen and (max-width: 999px) {

    .in-the-news-cont {
        display: none;
    }

    .popular-cont {
        display: none;
    }

    .nav-menu a {
        display: none;
    }

    .hamburger-menu {
        display: block;
        z-index: 10001;
    }

    .header-social-icons {
        display: none;
    }

    .header-social-icons-bottom {
        display: flex;
    }

    .login-text {
        display: block;
        font-size: 16px;
        font-weight: 400;
    }

    .big-header {
        padding-left: 40px;
        padding-right: 40px;
    }

    .overlay-menu-content {
        padding-left: 40px;
    }

    .featured-posts {
        padding-left: 40px;
        padding-right: 40px;
        overflow-x: scroll;
    }

    .article-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .date-container {
        grid-template-columns: 1fr;
    }

    .post-container {
        margin-right: 0;
        margin-left: 0;
    }

    .post-page-container {
        padding-left: 40px;
        padding-right: 40px;
    }

    .post-article-container {
        margin-right: 0;
        margin-left: 0;
        padding-right: 40px;
        padding-left: 40px;
    }

    .you-may-also-like-cont {
        display: none;
    }

    .post-page-container h1 {
        width: 100%;
    }

    .post-article-container img {
        max-width: 550px;
        align-self: center;

    }

    .comment-container2 {
        margin-right: 0;
        margin-left: 0;
        padding-right: 40px;
        padding-left: 40px;
    }

    .line-container {
        height: 1px;
    }

    .comment-section {
        margin-right: 0;
        margin-left: 0;
        padding-right: 40px;
        padding-left: 40px;
    }

}

@media screen and (max-width: 750px) {
    .post-article-container img {
        max-width: 100%;
    }
}

@media screen and (max-width: 499px) {
    .big-header {
        padding-left: 24px;
        padding-right: 24px;
    }

    .overlay-menu-content {
        padding-left: 24px;
    }

    .featured-posts {
        padding-left: 24px;
        padding-right: 24px;
    }

    .hero-canvas {
        padding-top: 0;
    }

    .tag-line {
        flex-direction: column;
        text-align: center;
    }

    .tag-line p {
        margin-left: 0;
        margin-top: 8px;
    }

    .articles-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .post-page-container {
        padding-left: 24px;
        padding-right: 24px;
    }

    .post-article-container {
        padding-right: 24px;
        padding-left: 24px;
    }

    .comment-container2 {
        padding-right: 24px;
        padding-left: 24px;
    }

    .comment-section {
        padding-right: 24px;
        padding-left: 24px;
    }

}